docs/submission_files/project_presentation_final_bicycle_mobileye.pptx filter=lfs diff=lfs merge=lfs -text
docs/submission_files/project_full_video_subtittles.mp4 filter=lfs diff=lfs merge=lfs -text
